@import '../Styles/vars.scss';

#hopefuls {
	@media #{$bp1280} {
		width: 95%;
		margin: auto;
	}
	&.noPosts {
		align-items: center;
		height: 100%;
		width: 100%;
		position: absolute;
		display: grid;
		font-size: 2em;
		margin-top: -2em;
		& a:visited {
			color: $blue;
		}
	}
	& #liveSlugDimmer{
		z-index: -1;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		overflow: auto;
		transition: opacity .8s ease-out;
		background-color: hsla(0, 0%, 0%, .7);
		opacity: 0;
		&.dark {
			opacity: 1;
		}
	}
	& #hopefulsIntroData {
		margin-bottom: 1em;
	}
	& h5 {
		font-size: 2em;
		text-align: left;
		font-weight: 300;
		margin: 0;
		line-height: 1.4em;
		& span.lightbluetext {
			// color: hsla(210, 90%, 60%, 1);
			// color: $gold;
			// font-weight: 500;
		}
		& span.goldtext {
			color: hsla(210, 90%, 60%, 1);
			font-weight: 700;
		}
	}
	& .dim {
		opacity: .1;
		transition: opacity .8s ease-out;
	}
}

#topfive {
	margin-bottom: 24px;
	opacity: 1;
	transition: opacity .8s ease-out;
	@media #{$bp800} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 12px;
		row-gap: 18px;
	}
}

#plebs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
	opacity: 1;
	transition: opacity .8s ease-out;
}