@import '../Styles/vars.scss';

#live {
	width: 95%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	row-gap: 30px;
	padding: 1em;
	box-sizing: border-box;
	&.noPosts {
	    display: flex;
	    width: 100%;
	    height: 100%;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    font-size: 2em;
		margin-top: -48px;
	}
}

.ContenderVoteBar {
	grid-column: span 2;
	display: flex;
	background: $blueGlass;
	color: $white;
	text-shadow: 0 0 3px black;
	border: 3px solid $whiteTrans07;
	padding: 6px;
	border-radius: 5px;
	font-size: 1.6em;
	line-height: 2em;
	font-weight: bold;
	justify-content: center;
	& .contenderVoteSection {
		display: inline-flex;
		position: relative;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-right: 1px solid $blackTrans90;
		transition: all .5s;
		& span.score {
		    margin-left: 1em;
		    font-weight: normal;
		    color: hsla(0,0%,94%,0.5);
		    text-shadow: none;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    font-size: 0.8em;
		    line-height: 0.8em;
		}
		&:last-of-type {
			border-right: none;
		}
	} 
}

.contender {
	// background: $thinBlueGlass;
	position: relative;
	border: 3px solid $whiteTrans07;
	border-radius: 5px;
	background: $blueGlass;
	padding: 6px;
	& .TopFive {
		background: none;
		border: none;
		border-radius: 0px;
		padding: 0;
		margin-top: 12px;
	}
	&::after {
		content: '';
		z-index: -1;
		position: absolute;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		top: -3px;
		left: -3px;
		box-shadow: 0 0 8px $goldTrans75;
		transition: opacity .5s;
		opacity: 0;
		border-radius: 3px;
	}
	&.highlight::after {
		opacity: 1;
	}
	&.eliminated {
		display: none;
	}
}

.contenderNumber {
	background: $thinBlueGlass;
	font-size: 1.5em;
	font-weight: bold;
	// color: hsla(42, 79%, 64%, .8);
	color: $whiteTrans75;
	text-shadow: 0 0 3px black;
}

.contender:nth-of-type(6n+1) .contenderNumber, .contenderVoteSection:nth-of-type(6n+1) {
	// background: #1e2c38;
	// background: hsla(210, 30%, 40%, .8);
	background: hsla(210, 70%, 16%, .8);
}
.contender:nth-of-type(6n+2) .contenderNumber, .contenderVoteSection:nth-of-type(6n+2)  {
	// background: #211c14;
	// background: hsla(270, 30%, 40%, .8);
	background: hsla(30, 70%, 20%, .8);	
}
.contender:nth-of-type(6n+3) .contenderNumber, .contenderVoteSection:nth-of-type(6n+3)  {
	// background: #2e3b21;
	// background: hsla(0, 30%, 40%, .8);
	background: hsla(0, 70%, 17%, .8);    
}
.contender:nth-of-type(6n+4) .contenderNumber, .contenderVoteSection:nth-of-type(6n+4)  {
	// background: hsla(0, 70%, 42%, 0.3);
	// background: hsla(30, 30%, 40%, .8);
	background: hsla(42, 84%, 42%, .7);
}
.contender:nth-of-type(6n+5) .contenderNumber, .contenderVoteSection:nth-of-type(6n+5)  {
	// background: #101010;
	// background: hsla(50, 100%, 35%, .8);
	background: hsla(270, 70%, 15%, .8);
}
.contender:nth-of-type(6n+6) .contenderNumber, .contenderVoteSection:nth-of-type(6n+6)  {
	// background: hsla(47, 75%, 50%, 0.5);
	// background: hsla(150, 30%, 40%, .8);
    background: hsla(120, 70%, 12%, .8);
}

.littleThingsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-items: baseline;
}

.LittleThing {
	position: relative;
	background: $blueGlass;
	border: 3px solid $whiteTrans07;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 6px $blackTrans25;
	width: 100%;
	margin: 16px 8px;
	padding: 12px;
	box-sizing: border-box;
	text-align: left;
	font-size: 24px;
	& img.sourcepic {
		width: 48px;
		height: 48px;
		margin-right: 12px;
	}
	& img.starpic {
		opacity: .75;
	}
	& h3 {
		font-size: .5em;
		line-height: 1em;
		font-weight: 500;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .titleBox {
		flex-grow: 1;
		line-height: .75em;
		@media #{$bp850} {
			line-height: 1em;
		}
		@media #{$bp1280} {
			line-height: 1.25em;
		}
	}
	& a.titleLink {
		color: $white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& .votecount {
		font-size: .5em;
		font-weight: 500;
		color: $gold;
		display: inline-block;
		margin-left: 8px;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .voteBox {
		margin: 0 0 0 12px;
		img {
			width: 48px;
			height: 48px;
		}
	}
	& p.attribution {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
		a, a:visited {
			color: $whiteTrans75;
		}
	}
	& div.stars {
		display: inline-flex;
	}
	&.votedFor {
		box-shadow: 0 0 8px $goldTrans75;
		background: $darkerGlass;
	}
	@media #{$bp850} {
		width: calc(50% - 16px);
	}
	@media #{$bp1900} {
		width: calc(33% - 16px);
	}
}

.votePrompter {
	position: absolute;
	top: -30px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: $gold;
}

.littleThingTop, .littleThingBottom, .liveAdminControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.littleThingTop {
	margin-bottom: 9px;
	height: 75px;
}

.littleThingBottom {
	margin-top: 6px;
	margin-left: 6px;
	height: 40px;
}
.liveAdminControls {
	flex-grow: 1;
	font-size: .625em;
	line-height: 0;
	a {
		color: $blue;
	}
}
.VoterInfoBox {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: 6px;
	border-top: 1px solid $whiteTrans07;
	min-height: 36px;
}
.voterBubble {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 6px 3px 0;

}

// img.littleThingTrasher, img.editThisImg, img.littleThingPromoter {
// 	width: 24px;
// 	margin-right: 12px;
// 	height: auto;
// 	cursor: pointer;
// 	opacity: .8;
// }
img.littleThingPromoter {
	margin-right: 18px;
}
img.littleThingAuthor {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 18px;
	margin-right: 9px;
	opacity: .6;
}
input.nomCheckbox {
	width: 16px;
	margin-right: 16px;
}

.resetContainer {
	grid-column: span 2;
}
img.resetLive {
	width: 50px;
	height: 50px;
	margin-top: 12px;
}
#submissionsToggle {
	font-size: 24px;
	margin-bottom: 48px;
}