@import '../Styles/vars.scss';

#live {
	width: 98%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.6em;
	row-gap: 1.4em;
	&.noPosts {
	    display: flex;
	    width: 100%;
	    height: 100%;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    font-size: 2em;
		margin-top: -48px;
	}
}

.contender {
	background: $thinBlueGlass;
	border: 3px solid $whiteTrans07;
	& .TopFive {
		background: none;
		border: none;
	}
}

.contenderNumber {
	background: $thinBlueGlass;
	font-size: 1.5em;
	font-weight: bold;
	color: hsla(42, 79%, 64%, .8);
}

.contender:nth-of-type(12n+1) .contenderNumber {
	background: hsla(187, 31%, 26%, 0.5);
}
.contender:nth-of-type(12n+2) .contenderNumber {
	background: hsla(11, 68%, 31%, 0.5);
}
.contender:nth-of-type(12n+3) .contenderNumber {
	background: hsla(291, 34%, 24%, 0.5);
}
.contender:nth-of-type(12n+4) .contenderNumber {
	background: hsla(144, 47%, 23%, 0.5);
}
.contender:nth-of-type(12n+5) .contenderNumber {
	background: hsla(36, 47%, 23%, 0.5);
}
.contender:nth-of-type(12n+6) .contenderNumber {
	background: hsla(236, 24%, 37%, 0.5);
}
.contender:nth-of-type(12n+7) .contenderNumber {
	background: hsla(84, 34%, 23%, 0.5);
}
.contender:nth-of-type(12n+8) .contenderNumber {
	background: hsla(344, 31%, 36%, 0.5);
}
.contender:nth-of-type(12n+9) .contenderNumber {
	background: hsla(229, 26%, 20%, 0.5);
}
.contender:nth-of-type(12n+10) .contenderNumber {
	background: hsla(14, 54%, 27%, 0.5);
}
.contender:nth-of-type(12n+11) .contenderNumber {
	background: hsla(340, 52%, 17%, 0.5);
}
.contender:nth-of-type(12n+0) .contenderNumber {
	background: hsla(11, 21%, 25%, 0.5);
}

.littleThingsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-items: baseline;
}

.LittleThing {
	position: relative;
	background: $blueGlass;
	border: 3px solid $whiteTrans07;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 6px $blackTrans25;
	width: 100%;
	margin: 16px 8px;
	padding: 12px;
	box-sizing: border-box;
	text-align: left;
	font-size: 24px;
	& img.sourcepic {
		width: 48px;
		height: 48px;
		margin-right: 12px;
	}
	& img.starpic {
		opacity: .75;
	}
	& h3 {
		font-size: .5em;
		line-height: 1em;
		font-weight: 500;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .titleBox {
		flex-grow: 1;
		line-height: .75em;
		@media #{$bp850} {
			line-height: 1em;
		}
		@media #{$bp1280} {
			line-height: 1.25em;
		}
	}
	& a.titleLink {
		color: $white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& .votecount {
		font-size: .5em;
		font-weight: 500;
		color: $gold;
		display: inline-block;
		margin-left: 8px;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .voteBox {
		margin: 0 0 0 12px;
		img {
			width: 48px;
			height: 48px;
		}
	}
	& p.attribution {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
		a, a:visited {
			color: $whiteTrans75;
		}
	}
	& div.stars {
		display: inline-flex;
	}
	&.votedFor {
		box-shadow: 0 0 8px $goldTrans75;
		background: $darkerGlass;
	}
	@media #{$bp850} {
		width: calc(50% - 16px);
	}
	@media #{$bp1900} {
		width: calc(33% - 16px);
	}
}

.votePrompter {
	position: absolute;
	top: -30px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: $gold;
}

.littleThingTop, .littleThingBottom, .liveAdminControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.littleThingTop {
	margin-bottom: 9px;
	height: 75px;
}

.littleThingBottom {
	margin-top: 6px;
	margin-left: 6px;
	height: 40px;
}
.liveAdminControls {
	flex-grow: 1;
	font-size: .625em;
	line-height: 0;
	a {
		color: $blue;
	}
}
.VoterInfoBox {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: 6px;
	border-top: 1px solid $whiteTrans07;
	min-height: 36px;
}
.voterBubble {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 6px 3px 0;

}

// img.littleThingTrasher, img.editThisImg, img.littleThingPromoter {
// 	width: 24px;
// 	margin-right: 12px;
// 	height: auto;
// 	cursor: pointer;
// 	opacity: .8;
// }
img.littleThingPromoter {
	margin-right: 18px;
}
img.littleThingAuthor {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 18px;
	margin-right: 9px;
	opacity: .6;
}
input.nomCheckbox {
	width: 16px;
	margin-right: 16px;
}

img.resetLive {
	width: 50px;
	height: 50px;
	margin-bottom: 12px;
}
#submissionsToggle {
	font-size: 24px;
	margin-bottom: 48px;
}