@import '../Styles/vars.scss';

#live {
	width: 95%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	row-gap: 30px;
	padding: 1em;
	box-sizing: border-box;
	&.noPosts {
	    display: flex;
	    width: 100%;
	    height: 100%;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    font-size: 2em;
		margin-top: -48px;
	}
}

.ContenderVoteBar {
	grid-column: span 2;
	display: flex;
	background: $blueGlass;
	color: $white;
	text-shadow: 0 0 3px black;
	border: 3px solid $whiteTrans07;
	padding: 6px;
	border-radius: 5px;
	font-size: 1.6em;
	line-height: 2em;
	font-weight: bold;
	justify-content: center;
	& .contenderVoteSection {
		display: inline-flex;
		position: relative;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-right: 1px solid $blackTrans90;
		transition: all .5s;
		& span.score {
		    margin-left: 1em;
		    font-weight: normal;
		    color: hsla(0,0%,94%,0.5);
		    text-shadow: none;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    font-size: 0.8em;
		    line-height: 0.8em;
		}
		&:last-of-type {
			border-right: none;
		}
	} 
}

.contender {
	// background: $thinBlueGlass;
	position: relative;
	border: 3px solid $whiteTrans07;
	border-radius: 5px;
	background: $blueGlass;
	padding: 6px;
	& .LittleThing {
		background: none;
		border: none;
		border-radius: 0px;
		padding: 0;
		margin-top: 12px;
		& textarea.editableTitle {
			background: none;
			border: none;
			width: 100%;
			color: $white;
			font-size: 30px;
			font-family: inherit;
			resize: none;
		}
	}
	&::after {
		content: '';
		z-index: -1;
		position: absolute;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		top: -3px;
		left: -3px;
		box-shadow: 0 0 8px $goldTrans75;
		transition: opacity .5s;
		opacity: 0;
		border-radius: 3px;
	}
	&.highlight::after {
		opacity: 1;
	}
	&.eliminated {
		display: none;
	}
}

.contenderNumber {
	background: $thinBlueGlass;
	font-size: 1.5em;
	font-weight: bold;
	// color: hsla(42, 79%, 64%, .8);
	color: $whiteTrans75;
	text-shadow: 0 0 3px black;
}

.contender:nth-of-type(6n+1) .contenderNumber, .contenderVoteSection:nth-of-type(6n+1) {
	// background: #1e2c38;
	// background: hsla(210, 30%, 40%, .8);
	background: hsla(210, 70%, 16%, .8);
}
.contender:nth-of-type(6n+2) .contenderNumber, .contenderVoteSection:nth-of-type(6n+2)  {
	// background: #211c14;
	// background: hsla(270, 30%, 40%, .8);
	background: hsla(30, 70%, 20%, .8);	
}
.contender:nth-of-type(6n+3) .contenderNumber, .contenderVoteSection:nth-of-type(6n+3)  {
	// background: #2e3b21;
	// background: hsla(0, 30%, 40%, .8);
	background: hsla(0, 70%, 17%, .8);    
}
.contender:nth-of-type(6n+4) .contenderNumber, .contenderVoteSection:nth-of-type(6n+4)  {
	// background: hsla(0, 70%, 42%, 0.3);
	// background: hsla(30, 30%, 40%, .8);
	background: hsla(42, 84%, 42%, .7);
}
.contender:nth-of-type(6n+5) .contenderNumber, .contenderVoteSection:nth-of-type(6n+5)  {
	// background: #101010;
	// background: hsla(50, 100%, 35%, .8);
	background: hsla(270, 70%, 15%, .8);
}
.contender:nth-of-type(6n+6) .contenderNumber, .contenderVoteSection:nth-of-type(6n+6)  {
	// background: hsla(47, 75%, 50%, 0.5);
	// background: hsla(150, 30%, 40%, .8);
    background: hsla(120, 70%, 12%, .8);
}

.resetContainer {
	grid-column: span 2;
}
img.resetLive {
	width: 50px;
	height: 50px;
	margin-top: 12px;
}