@import '../Styles/vars.scss';

#hometop, #archivetop {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px auto;
	padding: 18px;
	box-sizing: border-box;
	flex-wrap: wrap;
	@media #{$bp800} {
		justify-content: space-between;
		padding: 36px;
		width: 95%;
		flex-wrap: nowrap;
	}
}

#propLeft {
	width: 100%;
	max-width: 300px;
	order: 2;
	margin-bottom: 48px;
	@media #{$bp800} {
		order: 0;
		margin-bottom: 0;
		width: 20%;
		background: $blueGlass;
		border: 3px solid $whiteTrans07;
		border-radius: 3px;
	}
}
#propRight {
	order: 1;
	@media #{$bp800} {
		order: 0;
	}
}
.propbutton {
	padding: 12px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 3px;
	&:first-child {
		margin-top: 0;
	}
	&.img {
		line-height: 0;
	}
	@media #{$bp800} {
		//background: $blueGlass;
		display: block;
		margin: 18px auto;
	}
}
a.propbutton {
	text-decoration: none;
	color: $gold;
	&:hover {
		text-decoration: underline;
		@media #{$bp800} {
			background: $lightBlack;
		}
	}
}
.patreonImg {
	width: 36px;
}

.chooseExcellence {
	width: 100%;
	margin: 24px 0;
	opacity: .9;
}

#homePagePosts {
	width: 95%;
	margin: 72px auto;
	& .dayContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.6em;
		row-gap: 1.4em;
		margin-top: 6em;
		& .daytitle {
			grid-column: span 2;
			padding: 0.2em;
			font-size: 48px;
			text-shadow: 0px 0px 3px $darkBlack;
			font-weight: bold;
		}
		& h3 {
			display: inline;
			font-size: 36px;
			margin: 0;
		}
		& h3.dayContainerSectionHeader {
			grid-column: span 2;
			color: $goldTrans75;
		}
		& .Thing {
			grid-column: span 2;
			margin: 0;
		}
		& .TinyThing {
			margin: 0;
		}
	}
}

h1.yourSubmissionsHeader {
	font-size: 48px;
	color: $gold;
	font-weight: 700;
}
#yourSubmissionsTable {
	width: 800px;
    max-width: 90%;
    background: $darkBlack;
    margin: auto;
	font-size: 24px;
	line-height: 1.5em;
	border-collapse: collapse;
	border: 3px solid $whiteTrans07;
	& a, a:visited {
		color: $white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& th {
		font-size: 1.6em;
		border-bottom: 2px solid white;
		padding: 0.6em;
		&:first-of-type {
			border-right: 1px solid $whiteTrans75;
			text-align: left;
		}
	}
	& tr {
		border-bottom: 1px solid $whiteTrans50;
		&:nth-of-type(even) {
			background: $whiteTrans07;
		}
		&:last-of-type {
			border: none;
		}
	}
	& td {
		padding: 0.6em;
		&:nth-of-type(odd) {
			border-right: 1px solid $whiteTrans75;
			text-align: left;
		}
	}
	& span.chosen {
		color: $blue;
	}
	& span.rejected {
		color: $red;
	}
}