@import '../Styles/vars.scss';

#repIntro {
	font-size: 18px;
	@media #{$bp800} {
		font-size: 30px;
	}
	margin: 0 auto 2em;
	padding: 48px 24px;
	background: $blueGlass;
	border: 3px solid $whiteTrans07;
	width: 90%;
	max-width: 1200px;
	& .repIntroRow {
		line-height: 1.5em;
	} 
}

#repInfo {
	font-size: 16px;
	@media #{$bp800} {
		font-size: 24px;
	}
	width: 90%;
	max-width: 1200px;
    margin: 0 auto 2em;
    background: $blueGlass;
    border: 3px solid $whiteTrans07;
    padding: 48px 24px 24px;
}

span.bold {
    font-size: 1.1em;
    font-weight: bold;
    color: $gold;
}
span.highlight {
	font-weight: bold;
	color: $blue;
}
.mainLine {
	font-size: 1.5em;
}

.repPageSection {
	margin-bottom: 48px;
}

.repTableHeader {
	margin-bottom: 12px;
}
.row {
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: auto;
	padding: 8px;
	& img {
	    width: 48px;
	    margin-right: .5em;
	}
	&:nth-child(even) {
		background: $whiteTrans07;
	}
}