@import '../Styles/vars.scss';

body.page-template-weed-template {
	& #menu-links {
		margin-bottom: 12px;
	}
}

#weedPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    & .placeholderText {
    	font-size: 2em;
    	margin-bottom: .5em;
    }
}

.progressBackground {
	position: relative;
	height: 30px;
	line-height: 30px;
	width: 100%;
	background: $white;
	color: $darkBlack;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 6px;
}
.progressText {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
}
.progressBar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 4px;
}
#usProgress {
	background: $gold;
}
#youProgress {
	background: $blue;
}
#usProgress, #youProgress {
	transition: width .5s;
}
#clipsLeftCounter {
	width: 100%;
	position: relative;
	z-index: 1;
}

#weeder {
	margin: auto;
	text-align: left;
    border-radius: 4px;
    height: 100vh;
    @media #{$bp800} {
    	width: 95%;
    }
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    &.weederLandscape {
    	& #clipsLeftCounter {
    		width: 100%;
    	}
    	& .ballotButton {
    		width: 100%;
    		height: auto;
    		& img {
    			width: 90%;
    			height: auto;
    		}
    	}
    	& #wholeClipBallot {
    		display: grid;
    		border-radius: 3px;
    		grid-template-columns: auto minmax(auto, 150px);
    		grid-gap: 1.25%;
    	}
    }
    &.weederVictory {
    	width: 100%;
    	text-align: center;
    }
    & .playerContainer {
		@media #{$bp1900} {
			max-width: calc(100% - 500px);
			// height: calc(100vh - 240px);
			max-height: none;
		}
    }
    & .embed-container {
    	background: black;
    }
    & .AdminBox {
    	flex-direction: row-reverse;
    }
    & .nukers {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
    & h5.nukersHeader {
    	display: inline-block;
    	margin-right: 12px;
    	font-weight: 500;
    	font-size: 18px;
    }
    & .nukerBubble {
    	margin: 2px 4px;
		width: 48px;
		height: 48px;
		border-radius: 100%;
    }
}

.weederVictory {
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
	display: grid;
}
#Victory {
	font-size: 3em;
	margin-top: -2em;
	font-weight: bold;
	color: $gold;
}

.slide-down {
	transform: translateY(-100%);
	opacity: 0;
}
.slide-down-active {
	transform: translateY(0);
	opacity: 1;
	transition: all .5s ease-out;
}

.slide-up {
	transform: translateY(100%);
	opacity: 0;
}
.slide-up-active {
	transform: translateY(0);
	opacity: 1;
	transition: all .5s ease-out;
}
.slide-out-up {
	transform: translateY(0);
	opacity: 1;
}
.slide-out-up-active {
	transform: translateY(-100%);
	opacity: 0;
	transition: all .5s ease-out;
}

.slide-down {
	transform: translateY(-100%);
	opacity: 0;
}
.slide-down-active {
	transform: translateY(0);
	opacity: 1;
	transition: all .5s ease-out;
}
.slide-out-down {
	transform: translateY(0);
	opacity: 1;
}
.slide-out-down-active {
	transform: translateY(100%);
	opacity: 0;
	transition: all .5s ease-out;
}

.slide-right {
	transform: translateX(-100%);
	// opacity: 0;
}
.slide-right-active {
	transform: translateX(0);
	// opacity: 1;
	transition: all .5s ease-out;
}

.scale-up {
	transform: scale(0);
	opacity: 0;
}
.scale-up-active {
	transform: scale(1);
	opacity: 1;
	transition: all .5s ease-out;
}

.barGrow-appear {
	transform: scaleX(0);
	transform-origin: left;
}
.barGrow-appear-active {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform .5s ease-out;
	transition-delay: .25s;
}